	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/03/2017 19:18
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon-.eot#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-stop:before { content: "\f100"; }
.flaticon-check-mark-square-button:before { content: "\f101"; }
.flaticon-checking-square:before { content: "\f102"; }
.flaticon-trophy:before { content: "\f103"; }
.flaticon-money-bag:before { content: "\f104"; }
.flaticon-charity:before { content: "\f105"; }
.flaticon-heart-2:before { content: "\f106"; }
.flaticon-heart-1:before { content: "\f107"; }
.flaticon-world-1:before { content: "\f108"; }
.flaticon-hands:before { content: "\f109"; }
.flaticon-ecology:before { content: "\f10a"; }
.flaticon-sprout-1:before { content: "\f10b"; }
.flaticon-sprout:before { content: "\f10c"; }
.flaticon-house:before { content: "\f10d"; }
/* Localized */